{% extends "base.html" %}

{% block title %}
Tweeter Social Network
{% endblock %}

{% block content %}
<style>
  .delete-form {
    
    background-color: #f8f9fa; /* Light grey background */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin:12em auto;
    color: #000000;
  }
</style>

<div class="delete-form">
  <Container>
    <Row>
      <Col>
        <h3 class="text-center">Are you sure you want to delete the tweet ?</h3>
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a class="btn btn-success" href="{% url 'tweet_list' %}">Cancel</a>
        </form>
        </Col>
      </Row>
    </Container>
</div>
{% endblock %}